<div class="interactive-wrapper">
    <div class="row main-col">
        <div id="outcomeText" >
            Can it pass the <span id="currentHouse">lower house</span>? 
        </div>
    </div>    
	<div class="row sticky" id="votingChartWrapper">
		<div id="votingChart">

		</div>	
    </div>

    <div class="row" id="votingColWrapper">
    	
    	<div class="col33" id="ForCol">
            <h2>For</h2>
            <div id="ForContainer">

            </div>    

    	</div>
    	
    	<div class="col33" id="AgainstCol">
            <h2>Against</h2>
            <div id="AgainstContainer">

            </div> 
    	
        </div>

    	<div class="col33" id="UndecidedCol">
            <h2>Undecided</h2>
            <div id="UndecidedContainer">

            </div> 

    	</div>

    </div>
    <div class="row"></div>	
</div>